*{
     margin: 0;
     padding: 0;
     margin: 0 auto;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
}
section{
     max-width: 1140px;
     text-align: center;
     margin: 200px auto;
}

/* Header Section Style */

.header-section{
     background: linear-gradient(rgba(0, 0, 0, 0.096), rgb(0, 0, 0, 1)), url("../images/donation7.jpg");
     width: 100%;
}
.header-section{
     

}
.header-item{
     max-width: 1140px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     text-align: center;
     padding: 170px;
}
.he-title{
     font-size: 55px;
     color: #ffffff;
}
.section-description{
     width: 527px;
     margin: 0 auto;
     padding:40px 0 30px;
     font-family: 'Poppins', sans-serif;
}
.header-item .section-description{
     color:#ffffff;
}
.btn-primary{
     color: #ffffff;
     padding: 18px 30px;
     font-size: 18px;
     border-radius: 5px;
     border: none;
     background-color: rgb(206, 73, 25);
     transition: 0.3s;
}
.btn-primary:hover{
     background-color: rgb(136, 45, 12);
}

/* Donate today style */

.donate{
     width: 660px;
     margin: 0 auto;
}
.section-title{
     font-size: 45px;
     font-weight: 800;
}
.section-description{

}
.amount-tk{
     padding: 30px 15px;
    

}
.active{
     border: 2px solid #FF5959;
     border-radius: 5px;
     background:#FFEEEE;
}
.amount-tk:hover{
     border: 2px solid #FF5959;
     border-radius: 5px;
     background:#FFEEEE;
}
.amount-item{
     display: flex;
     font-size: 30px;
     font-weight: 700;
     color: #707070;
}
.total input[type=number]{
    padding: 20px;
    border: none;
    border-bottom: 1px solid #a6a0a0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
input[type=number]:focus{
     background-color:#FFEEEE;;
     outline: none;
     border-color: rgb(72, 68, 68);
}
/* Our plan style */

.plan-detail{
     display: flex;
     justify-content: space-around;
     gap: 24px;
}
.plan-group{
     width: 324px;
     background: #FF5959;
     text-align: left;
     padding: 60px 10px;
     
}
.plan-group h3{
     padding: 20px 0;
}
.group1{
     background: #c5afaf57;
}
.group2{
     background: #d1a6a657;
}.group3{
     background: #c9c48957;
}
/* Donation section style */

.donation-section{
     display: flex;
     text-align: left;
     gap: 50px;
}
.donation{
     width: 600px;
}   
.donation h3{
     font-weight: 800;
     margin-bottom: 20px;
}
.donation p{
     width: 400px;
     margin-bottom: 20px;
     margin-left: 0;
}
.donation-img{
     width: 420px;
     height: 430px;
      
}
.donation-img img{
     width: 420px;
     height: 430px;
}
